# Server Configuration
SERVER_PORT=8080
APP_NAME=streamforge

# Azure Cosmos DB for MongoDB (Managed Database Service)
AZURE_COSMOS_MONGODB_URI=mongodb://cosmos-streamforge-dev:PrimarySecretKey123==@cosmos-streamforge-dev.mongo.cosmos.azure.com:10255/voddb?ssl=true&replicaSet=globaldb&retrywrites=false&appName=@cosmos-streamforge-dev@
MONGO_DATABASE=voddb

# Azure Storage Blob Configuration (DefaultAzureCredential / Workload Identity or Connection String)
AZURE_STORAGE_ACCOUNT_NAME=ststreamforcedev
AZURE_STORAGE_CONTAINER_NAME=vod-container
AZURE_STORAGE_CONNECTION_STRING=
AZURE_STORAGE_PUBLIC_URL=https://ststreamforcedev.blob.core.windows.net/vod-container

# Application Storage Path inside Container
ICURFF_APP_STORAGE=/app/storage
